@font-face {
    font-family: 'Walkway';
    src: url('../fonts/walkway/walkway_semibold-webfont.woff2') format('woff2'),
         url('../fonts/walkway/walkway_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open_Sans';
    src: url('../fonts/Open_Sans/OpenSans-Light.woff') format('woff');
    src: url('../fonts/Open_Sans/OpenSans-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


    h1{
        text-align: center;
        padding-top: 90px !important;
        font-size: 60px;
        font-family: Walkway;
        color: orange;
        }

    p{
        text-align: center;
         font-size: 25px;
         font-family: Walkway;
         font-weight: bold;
        color: white;
        }

    p.legal{
        font-size: 0.8em;
        font-weight: normal;
    }

    p.fancy{
        text-align: center;
         font-size: 25px;
         font-family: Walkway;
         font-weight: bold;
         font-style: italic;
        color: white;
        }
    p.left, p.date{
        text-align: left;
        font-size: 1.1em;
        font-family: Open_Sans;
        font-weight: normal;
        color: #e9e9e9;
    }

    p.date{
        font-family: Walkway, Helvetica, sans-serif;
        font-size: 0.9em;
        color: #2a2a2a;
    }

    h2{
         text-align: center;
         font-size: 30px;
         font-family: Walkway;
        color: orange;
        }

    h2.podcast_title{
        text-align: left;
        font-weight: bold;
        color: #e9e9e9;

    }

    h4.podcast_author{
        text-align: left;
        font-family: Walkway;
        font-size: 24px;
        color: #2a2a2a;

    }


    h3{
       text-align: center;
         font-size: 30px;
         font-family: Walkway;
        color: orange;
    }


    h4{
        font-family: walkway;
        color: orange;
        text-align: center;
    }

    a.podcast_title:link {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease-in;

    }

    a.podcast_title:visited {
        text-decoration: none;
        color: white;

    }

    a.podcast_title:hover {
        text-decoration: none;
        -webkit-stroke-width: 5.3px;
        -webkit-stroke-color: #FFFFFF;
        -webkit-fill-color: #FFFFFF;
        text-shadow: 1px 0px 20px #f08600;
    }

    a.podcast_title:active {
        text-decoration: none;
    }
    .login{
        font-family: Walkway;
        font-size: 25px;
        text-align: center;
        color: white;
    }

    a{
        text-align: center;
        color: orange;

    }
    a:hover{
        color: white;
        text-decoration: none;
    }

    button{
          margin:auto;
          display:block;
        font-family: Walkway;
    }

    .img-fluid {
        max-width: 100vw;
        height:100%;
        width:100%;
        max-height: 100vh;
}
    input.p{
        padding-right: 50px;

    }

    form{
      text-align: center;
    }

    .Test{
        padding-top: 300px;
    }


    .navbar-brand{
         font-family: Walkway;
          font-size: 24px;
      }

    .navbar-pic-link {
      display: inline-block;
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;
    }

    a.record:hover {
        background-image: url("/static/app-icons/record-h.png");
    }
    .img-fluid {
      position: relative;
      top: 0;
      left: 0;

        /*max-width: 100vw;
        height:100%;
        width:100%;
        max-height: 100vh;*/
}
    .btn-outline-light:hover {
  color: #212529;
  background-color: orange;
  border-color: orange;
}

    body {
        background-color: #1b1e21;
        overflow-x: hidden;
    }

    p.lead{
        color:black;
         font-size: 20px;
         font-family: Walkway;
         font-style: italic;
    }

        /* to fix the wonky login forms*/
    form {
    width: 80%;
    margin: 0 auto;
    }

    label, input {
        /* in order to define widths */
        display: inline-block;
    }

    label {
        width: 30%;
        /* positions the label text beside the input */
        text-align: right;
    }

    label + input {
        width: 30%;
        /* large margin-right to force the next element to the new-line
           and margin-left to create a gutter between the label and input */
        margin: 0 30% 0 4%;
    }

    /* only the submit button is matched by this selector,
       but to be sure you could use an id or class for that button */
    input + input {
        float: right;
    }

    /* fixes remember box being of in space */
    #id_remember{
        width: auto;
    }
    /* fixes the text issues with the sign-up page */
    ul li {
        font-family: walkway;
        color: white;
		list-style:none;
		margin-bottom:5px;
		text-align: center;
		text-indent: -12px;
    }
    ul{
        padding-left: 5px;
    }
    .signup{
        padding-bottom: 35px;
    }

.google-button {
    background-color: #c6c6c6;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 50px 12px 30px; /* Some padding */
    font-family: Open_Sans;
    font-size: 16px; /* Set a font size */
    font-weight: normal;
    margin-bottom: 20px;


    border: grey 2px solid;
    /*box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);*/
    transition-property: background-color, border;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}
.google-button:hover{
    border: orange 2px solid;
    background-color: #ffffff;
}

#id_remember {
    margin-left: 10px;
}

