{% load staticfiles %}

<div class="help-studio">
    <details>
        <summary>FireCast User Guide</summary>
        <details>
            <summary>Introduction</summary>
            <p class="help">
                FireCast is an online web application that allows users to Record, Edit Upload and Listen to
                podcasts.
                <br>This application was developed by a group of university students during the Project course
                offered in
                the Bachelor of Information technology. As a team, the students worked together in order to
                fulfil the
                clients’ requirements and needs for his overall vision for this project. <br>The client felt that
                there is an opportunity in the market when it comes to a good podcast website/community. FireCast aims
                to provide
                users
                with a platform where users can share their podcasts and really build a great community. <br>Users
                have a
                range of flexible options to log into the website such as using their Google Account,
                or simply just using an email and password. If users do not wish to sign up or login, the
                website is
                still accessible and users can record and edit their podcasts. Although, if users want to upload
                a
                podcast, an account must be created.
            </p>
        </details>
        <details>
            <summary>Technical specifications</summary>
            <h5>The table below shows the compatibility of the application for web-browsers</h5>
            <table>
                <tr>
                    <th>Browser</th>
                    <th>Accessiblity</th>
                    <th>Recording compatiblity</th>
                </tr>
                <tr>
                    <td>Google Chrome</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Opera</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Vivaldi</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Android Browser</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Mozilla Firefox</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>Safari</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>Microsoft Edge</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>Internet Explorer</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
            </table>
        </details>
        <details>
            <summary>Installation instructions</summary>
            <p class="help">This product is an online application meaning that you will not need to install any
                software.
                In order to use the website, ensure you have the following:</p>
            <ul>
                <li class="help">a computer or mobile device</li>
                <li class="help">a microphone</li>
                <li class="help">a compatible web browser (Google Chrome is recommended)</li>
                <li class="help">internet connection</li>
            </ul>
        </details>
        <details>
            <summary>Site Navigation</summary>
            <p class="help">
                When you first enter the website, you are redirected onto the homepage which presents you the
                FireCast logo on a mixer background. You can use the buttons on the navigation bar to either log
                in or sign up, or you can scroll down for more options. If users decide to scroll down, you are
                presented with the option to create an account.</p>
        </details>
        <details>
            <summary>Registration</summary>
            <p class="help">There are two options to register a FireCast account:</p>
            <ul>
                <li class="help"> Email & Password</li>
                <li class="help">Google account</li>
            </ul>
            <p class="help">
                If you choose to create an account using your email and password it is advisable to first read
                our
                privacy policy. Once read, you will need to fill out the form below supplying your email and
                password, which must meet the following requirements:</p>
            <ul>
                <li class="help">Password must contain at least 8 characters</li>
                <li class="help">Password must not be too common</li>
                <li class="help">Password must be alphanumeric</li>
            </ul>
            <p class="help">
                If you decide to use your Google account, by logging into one of those accounts, your
                FireCast account will automatically be created. <br>
                You do not need an account to use the website, however: if you wish to upload and share your own
                podcasts an account is necessary.</p>
        </details>
        <details>
            <summary>Main Menu</summary>
            <p class="help">
                Once your account has been created and/or you are logged in, the website will bring you to the
                menu
                screen in which users can select one of the following options:
            </p>
            <ul class="help">
                <li class="help">Record – Selecting this option redirects them to the recording page, where
                    users can create
                    their own podcasts.
                </li>
                <li class="help">Listen – Selecting this option brings the user to a list of Podcasts that can
                    be listened to
                    and/or downloaded.
                </li>
                <li class="help">Upload – Selecting this option allows users to upload and share a podcast that
                    they have
                    created.
                </li>
            </ul>
            <p class="help">
                Note: Non-registered users can still record and listen to podcasts, but will need to register a
                new account or login in order to upload a new podcast.
            </p>
        </details>
        <details>
            <summary>Recording with FireCast Studio</summary>
            <details>
                <summary>Functions</summary>
                <table>
                    <tr>
                        <th>Function</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>Pause</td>
                        <td>Pause the audio</td>
                    </tr>
                    <tr>
                        <td>Play</td>
                        <td>Play/continue playing audio</td>
                    </tr>
                    <tr>
                        <td>Stop</td>
                        <td>Stop recording/stop playing audio</td>
                    </tr>
                    <tr>
                        <td>Record</td>
                        <td>Record audio</td>
                    </tr>
                    <tr>
                        <td>Start of track</td>
                        <td>
                            Positions seek bar to the start of the timeline
                        </td>
                    </tr>
                    <tr>
                        <td>End of track</td>
                        <td>
                            Positions seek bar to the end of the timeline
                        </td>
                    </tr>
                    <tr>
                        <td>Select cursor</td>
                        <td>Allows you to position the seek bar</td>
                    </tr>
                    <tr>
                        <td>Select audio region</td>
                        <td>Click and drag to select a segment of audio</td>
                    </tr>
                    <tr>
                        <td>Shift audio in timeline</td>
                        <td>Click and drag the audio to a different position on the timeline</td>
                    </tr>
                    <tr>
                        <td>Set audio fade-in</td>
                        <td>Add a fade-in effect to the start of an audio segment</td>
                    </tr>
                    <tr>
                        <td>Set audio fade-out</td>
                        <td>Add a fade-out effect to the end of an audio segment</td>
                    </tr>
                    <tr>
                        <td>Loop</td>
                        <td>Loops the selected segment of audio</td>
                    </tr>
                    <tr>
                        <td>Trim audio</td>
                        <td>Keeps only the selected audio region</td>
                    </tr>
                    <tr>
                        <td>Print</td>
                        <td>Prints playlist information to the console</td>
                    </tr>
                    <tr>
                        <td>Clear timeline</td>
                        <td>Caution! Will delete ALL tracks in the playlist</td>
                    </tr>
                    <tr>
                        <td>Download audio</td>
                        <td>Renders all current audio tracks inta o single .wav audio file</td>
                    </tr>
                    <tr>
                        <td>Drag and drop audio</td>
                        <td>You can drag and drop directly into the playlist. Creates a new track.</td>
                    </tr>
                </table>
            </details>
            <details>
                <summary>Fade-in/fade-out effects</summary>
                <p class="help">
                    To add a fade effect to your audio, use the left arrow button (fade in) or the right arrow
                    button (fade out). On the waveform/track, click where you want the fade to end/start. In the
                    screen shots below, I have set the fade to end at approximately 10 seconds.
                </p>
                <p class="help">
                    There are 4 different types of fade in and out to use. These include:
                </p>
                <div class="row">
                    <div class="col-5">
                        <p class="help font-weight-bold">Logarithmic</p>
                        <p class="help">The logarithmic fade sounds consistent and smooth since the perceived
                            volume is increased over the whole duration of the fade.</p>
                    </div>
                    <div class="col-7">
                        <img src="{% static 'studio/help/logarithmic.png' %}" class="img-fluid"
                             style="height: auto; width: 50%;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="help font-weight-bold">Linear</p>
                        <p class="help">A linear fade-in curve makes it sound as though the volume increases
                            sharply at the beginning, and more gradually towards the end. The same principle
                            applies on a fade-out where a gradual drop in volume can be perceived in the
                            beginning, and the fade gets more abrupt towards the end.</p>
                    </div>
                    <div class="col-7">
                        <img src="{% static 'studio/help/linear.png' %}" class="img-fluid"
                             style="height: auto; width: 50%;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="help font-weight-bold">Exponential</p>
                        <p class="help">The exponential curve shape is in many ways the precise opposite of the
                            logarithmic curves. The fade-in works as follows: it increases in volume slowly and
                            then it shoots up very quickly at the end of the fade. The fade-out drops very
                            quickly (from the maximum volume) and then declines slowly again over the duration
                            of the fade.</p>
                    </div>
                    <div class="col-7">
                        <img src="{% static 'studio/help/exponential.png' %}" class="img-fluid"
                             style="height: auto; width: 50%;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="help font-weight-bold">S-Curve</p>
                        <p class="help">The level of the sound is 50% at the midpoint, but before and after the
                            midpoint the shape is not linear.</p>
                    </div>
                    <div class="col-7">
                        <img src="{% static 'studio/help/s-curve.png' %}" class="img-fluid"
                             style="height: auto; width: 50%;">
                    </div>
                </div>
            </details>
        </details>
        <details>
            <summary>Listen to a podcast</summary>
            <div class="row">
                <div class="col-sm-12">
                    <img src="{% static 'studio/help/listen_podcast.png' %}" class="img-fluid"
                         style="padding-bottom: 1em;">
                </div>
            </div>
            <p class="help">
                This menu option allows you to view and play a list of podcasts that you have uploaded. You also
                have the option to download the podcast for offline listening. The information shown on this
                page
                includes, the podcast title, an image, the time and date the podcast was uploaded, and a
                description. By clicking on the title of the podcast, it redirects you to a page that provides
                you
                with more detail about that particular podcast if additional information is supplied.
            </p>
        </details>
        <details>
            <summary>Upload a Podcast</summary>
            <p class="help">
                This option provides you with an upload form where you can upload a podcast. Information to be
                entered includes the title of the podcast, a description, an optional image and of course, your
                podcast audio file.
            </p>
        </details>
    </details>
</div>
