{% load staticfiles %}
{% load socialaccount %}

<!DOCTYPE html>
<html>
<head>
    {% block meta %}
    {% endblock meta %}
    {% block link %}
        <link href="{% static "styles/bootstrap.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "styles/Main-CSS.css" %}" rel="stylesheet" type="text/css">
    {% endblock link %}
</head>

    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>


{% block navbar %}
<div class="container">
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" >
		<div class="container-fluid">
		  <a class="navbar-brand" href="{% url 'home' %}">
			<img src="{% static "app-icons/Taskbar-Logo.png" %}" width="40" height="40" alt="" >
              <a style="padding-top: 10px" class="navbar-brand"  href="{% url 'home' %}" >FireCast</a>
		  </a>
		    <div class="pull-right">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
		  </div>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item active">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{% url 'account_logout' %}">
                            <button class=" btn btn-sm btn-outline-warning" type="button">Logout</button>
                        </a>
                      </li>
                    {% else %}
                      <li class="nav-item">
                        <a class="nav-link disabled" href="{% url 'account_login' %}">
                            <button class=" btn btn-sm btn-outline-warning" type="button">Login</button>
                        </a>
                      </li>
                {% endif %}
                    {% if user.is_authenticated %}
                        {% else %}
                        <a class="nav-link " href="{% url 'account_signup' %}">
                            <button class="btn btn-sm btn-outline-warning" type="button">SignUp</button>
                        </a>
                    {% endif %}
			  </li>
			</ul>
		  </div>
		  </div>
		</nav>
</div>
{% endblock navbar %}

{% block front_title %}
{% endblock front_title %}

{% block content %}
{% endblock content %}

{% block usermenu %}
{% endblock usermenu %}

{% block footer %}
{% endblock footer %}

{% block js %}
    <script src="{% static "scripts/jquery-3.3.1.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
{% endblock js %}

</body>
</html>

