<!-- templates/firecast/home.html -->
{% extends 'base.html' %}
{% load staticfiles %}
{% load socialaccount %}

{% block  link %}
    {{ block.super }}
{% endblock link %}

{% block title %}
    Project FireCast
{% endblock title %}

{% block navbar %}
    {{ block.super }}
{% endblock navbar %}


{% block front_title %}
    <img src="{% static "app-icons/TestBack3.png" %}" style="padding-top: 65px"  class="img-fluid" alt="Responsive image">

    <div class="container">
        <div class="container-fluid">
            {% if user.is_authenticated %}
                <h1>Welcome back to FireCast :)</h1>
                <p class="fancy">Hey {{ user.username }}! What do you wanna do?</p>
            {% else %}
                <h1>Welcome to FireCast</h1>
                <p class="fancy">Don't have a FireCast account? Sign up to get started</p>
                <p class="fancy"><a href="{% url 'account_signup' %}">Sign up</a></p>
                <p class="fancy"><a href="{% provider_login_url 'google' %}">Login with your google account</a></p>
            {% endif %}
        </div>

    </div>
    {% include 'firecast/menu_options.html' %}
{% endblock front_title %}

{% block footer %}
    <div class="jumbotron  jumbotron-fluid ">
      <div class="container">
        <h3 class="display-4">What is FireCast?</h3>
        <p class="lead">This is a podcast recording website where (once out of beta) you will be able to record, edit and share your own podcasts</p>
      </div>
    </div>
{% endblock footer %}












