{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Podcast Studio</title>

    <link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
	<link href="{% static "styles/normalize.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "styles/install-button.css" %}" rel="stylesheet" type="text/css">
    <link  href="{% static "styles/bootstrap.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "styles/app.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "styles/Main-CSS.css" %}" rel="stylesheet" type="text/css">


<header>
    <div class="Test">
        <h2>Podcast Studio</h2>
    </div>
    </header>
  <div class="wrapper Test">

    <section class="main-controls">
      <canvas class="visualizer"></canvas>
      <button class="record btn btn-sm btn-outline-warning">Record</button>
      <button class="stop btn btn-sm btn-outline-warning">Stop</button>
    </section>

    <section class="sound-clips ">

      <!-- <article class="clip">
        <audio controls></audio>
        <a href="">Download clip</a>
      </article> -->

    </section>

  </div>

  <label for="toggle">❔</label>
  <input type="checkbox" id="toggle">
  <aside>
    <h2>Information</h2>

    <p>Web dictaphone is built using <a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator.getUserMedia">getUserMedia</a> and the <a href="https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder_API">MediaRecorder API</a>, which provides an easier way to capture Media streams.</p>

    <p>MediaRecorder API currently only works in Firefox 25 (desktop/mobile) and Firefox OS 2.0. gUM and Web Audio have wider support.</p>

    <p>Icon courtesy of <a href="http://findicons.com/search/microphone">Find Icons</a>. Thanks to <a href="http://soledadpenades.com/">Sole</a> for the Oscilloscope code!</p>

    <button id="install-btn">Install app</button>
  </aside>

  <!-- The following element pulls in the script for the default template functionality -->
{% block js %}
  <script src="{% static "scripts/install.js" %}"></script>
    <script src="{% static "scripts/app.js" %}"></script>
  {% endblock %}


</body>
</head>
</html>