{% load staticfiles %}

<div class="row">
  <div class="col-sm-4">
      <a href="{% url "record" %}">
          <img src="{% static "app-icons/record.png"%}" alt="Record" style="width:100%">
      </a>
      <p> Record </p>
  </div>
  <div class="col-sm-4">
        <a href="{% url "list" %}">
    <img src="{% static "app-icons/play.png"%}" alt="Play" style="width:100%">
        </a>
       <p> Listen </p>
  </div>
  <div class="col-sm-4">
       <a href="{% url "upload" %}">
    <img src="{% static "app-icons/upload.png"%}" alt="Upload" style="width:100%">
           </a>
       <p> Upload </p>
  </div>
</div>

<style>
    h1 {
        text-align: center;
        padding-top: 100px;
        font-size: 60px;
        font-family: Walkway, Helvetica, sans-serif;
        font-weight: bold;
        color: orange;
    }

        h2 {
         text-align: center;
        padding-top: 50px;
        font-size: 30px;
        font-family: Walkway, Helvetica, sans-serif;
        color: orange;
    }
        p{
        text-align: center;
        font-size: 25px;
        font-family: Walkway, Helvetica, sans-serif;
        color: black;
        }



    .column {
      flex: 30%;
      padding: 20px;
}
    body {
         background-color: orange;
}

    .row > a{
        color: orange;
    }


</style>
