{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Podcasts</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link  href="{% static "styles/bootstrap.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "studio/css/main.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "styles/Main-CSS.css" %}" rel="stylesheet" type="text/css">



</head>
<body>
{% load socialaccount %}
<!-- NAV BAR -->
<div class="container">
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
			<img src="{% static "app-icons/Taskbar-Logo.png" %}" width="40" height="40" alt="" >
              <a style="padding-top: 10px" class="navbar-brand"  href="#" >FireCast</a>
		  </a>
            <a class="username">
                {% if user.is_authenticated %}
                    Hi {{ user.username }}
                {% endif %}
            </a>
		<div class="pull-right">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  </div>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item active">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{% url 'account_logout' %}">
                            <button class=" btn btn-sm btn-outline-warning" type="button">Logout</button>
                        </a>
                      </li>
                    {% else %}
                      <li class="nav-item">
                        <a class="nav-link disabled" href="{% url 'account_login' %}">
                            <button class=" btn btn-sm btn-outline-warning" type="button">Login</button>
                        </a>
                      </li>
                {% endif %}
                    <a class="nav-link " href="{% url 'usermenu' %}">
                   <button class="btn btn-sm btn-outline-warning" type="button">Menu</button>
               </a>
			  </li>
			</ul>
		  </div>
		  </div>
		</nav>
</div>

{% block content %}
    <h1>Podcasts</h1>
    <div class="container">
        {% for podcast in podcasts %}
            <div class="podcast">

            <div class="row">
                <div class="col-4">
                    <img class="cover_img" src="{{ podcast.image.url }}"/>
                    <div class="row">
                        <div class="audio_controls">
                             <audio controls>
                            <source src="{{ podcast.audio.url }}" type="audio/wav">
                            <source src="{{ podcast.audio.url }}" type="audio/mp3">
                            <source src="{{ podcast.audio.url }}" type="audio/ogg">
                        </audio>
                        </div>
                    </div>
                </div>
                <div class="col">
                   <div class="podcast_text">
                        <h2 class="podcast_title"><a class="podcast_title" href="{% url 'detail' podcast.slug %}">{{ podcast.title }}</a></h2>
                       <p>{{ podcast.date }}</p>
                        <h3>{{podcast.snippet }}</h3>
                    </div>
                </div>
            </div>
                        </div>

        {% endfor %}
    </div>

{% endblock %}
</body>
</html>