<!-- templates/firecast/podcast_list.html -->
{% extends 'base.html' %}
{% load staticfiles %}
{% load socialaccount %}

{% block  link %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link href="{% static "studio/css/Record.css" %}" rel="stylesheet" type="text/css">
    {{ block.super }}
{% endblock link %}

{% block title %}
    Podcast List
{% endblock title %}

{% block navbar %}
    {{ block.super }}
{% endblock navbar %}

{% block content %}
    <h1>Podcasts</h1>
    <div class="container">
        {% for podcast in podcasts %}
            <div class="podcast">
                <div class="row justify-content-center">
                    <div class="row">
                        <div class="col-6">
                            <img class="cover_img" src="{{ podcast.image.url }}"/>
                        </div>
                        <div class="col-6">
                            <div class="podcast_text">
                                {#<h2 class="podcast_title"><a class="podcast_title" href="{% url 'detail' podcast.slug %}">{{ podcast.title }}</a></h2>#}
                                <h2 class="podcast_title">{{ podcast.title }}</h2>
                                <h4 class="podcast_author">by {{ podcast.author }}</h4>
                                <p class="date">{{ podcast.date }}</p>
                                <p class="left">{{ podcast.description }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="audio_controls">
                            <audio controls>
                                <source src="{{ podcast.audio.url }}" type="audio/wav">
                                <source src="{{ podcast.audio.url }}" type="audio/mp3">
                                <source src="{{ podcast.audio.url }}" type="audio/ogg">
                            </audio>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
