<!-- templates/firecast/upload_podcast.html -->
{% extends 'base.html' %}
{% load staticfiles %}
{% load socialaccount %}
{% load widget_tweaks %}

{% block  link %}
    <link href="{% static "studio/css/Record.css" %}" rel="stylesheet" type="text/css">
    {{ block.super }}
{% endblock link %}

{% block title %}Upload{% endblock title %}

{% block navbar %}
    {{ block.super }}
{% endblock navbar %}

{% block content %}
    <h1> Upload a Podcast</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-lg btn-outline-warning" type="submit">Upload podcast</button>
  </form>


    <p><a href="{% url 'usermenu' %}">Cancel</a></p>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
    $(document).ready(function() {
    //do jQuery stuff when DOM is ready
        $('form').areYouSure();
    });
    </script>
{% endblock js %}
