{% load staticfiles %}
<h1>Welcome to FireCast!</h1>
<h2> What would you like to do?</h2>

<div class="row">
  <div class="column">
      <a href="{% url "record" %}">
          <img src="{% static "app-icons/record.png"%}" alt="Record" style="width:100%">
      </a>
      <p> Record </p>
  </div>
  <div class="column">
    <img src="{% static "app-icons/play.png"%}" alt="Play" style="width:100%">
       <p> Listen </p>
  </div>
  <div class="column">
       <a href="{% url "mix" %}">
    <img src="{% static "app-icons/edit.png"%}" alt="Edit" style="width:100%">
           </a>
       <p> Edit </p>
  </div>
</div>

<style>
    h1 {
        text-align: center;
        padding-top: 100px;
        font-size: 60px;
        font-family: Walkway;
        font-weight: bold;
        color: orange;
    }

        h2 {
         text-align: center;
        padding-top: 50px;
        font-size: 30px;
        font-family: Walkway;
        color: orange;
    }
        p{
        text-align: center;
        font-size: 25px;
        font-family: Walkway;
        color: black;
        }

    .row {
      display: flex;
      background-color: rgba(255, 255, 255, 0.6);
    }

    .column {
      flex: 30%;
      padding: 20px;
}
    body {
         background-color: grey;
}


</style>