<!-- templates/firecast/usermenu.html -->
{% extends 'base.html' %}
{% load staticfiles %}
{% load socialaccount %}

{% block  link %}
    <link href="{% static "studio/css/Record.css" %}" rel="stylesheet" type="text/css">
    {{ block.super }}
{% endblock link %}
{% block title %}
    Menu
{% endblock title %}
{% block navbar %}
    {{ block.super }}
{% endblock navbar %}
{% block usermenu %}
    <h1>Welcome to FireCast Studio!</h1>
    <h2> What would you like to do?</h2>
    {% include 'firecast/menu_options.html' %}
{% endblock usermenu %}